doctype html
html
    head
        include header
    body.cbp-spmenu-push
        include topheader
        // banner
        .banner.page-head
            .logo
                h1
                    a(href="/") Relax & Enjoy
        block content
